.noteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-main);
    padding: 10px;
  }
  
  .noteHeader h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .noteHeader h3 svg {
    fill: var(--color-main);
    width: 20px;
    margin-right: 8px;
  }
  
  .noteHeader button {
    border: none;
    outline: none;
    font-weight: 600;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
  }
  
  .note textarea {
    background-color: var(--color-white);
    border: none;
    padding: 16px 12px;
    width: 100%;
    height: 70vh;
    resize: none;
    scrollbar-width: none; /* Firefox */
  }
  
  .note textarea:active,
  .note textarea:focus {
    outline: none;
    border: none;
  }
  
  .note textarea::-webkit-scrollbar {
    display: none;
  }